<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">

            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
      <div> &copy; wanderlust private Limited
        </div>
        <div class="f-info-links">
            <a href="/about">About Us</a>
            <a href="/contact">Contact Us</a>
            <a href="/terms">Terms of Service</a>


        </div>
    </div>
</footer> -->


<body>
    <div class="content">
        <!-- Your page content (e.g., login form, homepage, etc.) -->
    </div>

    <footer>
        <div class="f-info">
            <div class="f-info-socials">
             <a href="https://www.instagram.com/its_abdull07/"><i class="fa-brands fa-facebook"></i></a>
             <a href="https://www.instagram.com/its_abdull07/"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/abdulg07/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div> &copy; Wanderlust Private Limited </div>
            <div class="f-info-links">
                <a href="/about">About Us</a>
                <a href="/contact">Contact Us</a>
                <a href="/terms">Terms of Service</a>
            </div>
        </div>
    </footer>
</body>
