<% layout('/layout/boilerplate') -%>
<body>
    <form action="/listings" method="POST"   novalidate  class="needs-validation" >
        <div>
    <label for="title" class="form-label">Title</label>
                                             


         <input name="listing[title]"placeholder="enter title" class="form-control" type="text" required id="title">
         <br>
        
         </div>


         <div>
            <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="enter description" class="form-control" required id="Descripton"></textarea>
         <br>
         </div>


         <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" name="listing[category]" required>
                <option value="Trending">Trending</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Castles">Castles</option>
                <option value="Amazing Pools">Amazing Pools</option>
                <option value="Camping">Camping</option>
                <option value="Farms">Farms</option>
                <option value="Arctic Pools">Arctic Pools</option>
            </select>
        </div>
        
<!-- lattittude -->
         <div>
            <label for="latitude" class="form-label">Latitude</label>
            <input name="listing[geometry][coordinates][1]" placeholder="Enter latitude" class="form-control" type="number" step="any" required id="latitude">
            <br>
        </div>
        
        <div>
            <label for="longitude" class="form-label">Longitude</label>
            <input name="listing[geometry][coordinates][0]" placeholder="Enter longitude" class="form-control" type="number" step="any" required id="longitude">
            <br>
        </div>
        



         <div>
            <label for="image" class="form-label"> Upload Image link</label>
         <input name="listing[image][url]"  type="text" class="form-control" required id="image"> 
         <br>
         </div>

         <div>
           <label for="price" class="form-label">  Price</label> 
         <input name="listing[price]" placeholder="enter price " type="number" class="form-control" required id="price">
         <br>

<div>
         <label for="country" class="form-label">Country</label>
         <input name="listing[country]" placeholder="enter location" type="text" class="form-control" required>

         <br>
         </div>
         <div>
            <label for="location" class="form-label">location</label>
         <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required>
         </div>
         <br>
         <button class="btn btn-dark">Add</button>

    </form>
</body>
</html> 

